<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Manager Dashboard</title>
</head>
<body>
    <h1>Selamat datang manager <%- manager.name %> ! </h1>
    <h2>Apa yang ingin anda lakukan hari ini?</h2>
    <h3><a href="/manager/leaveRequest">Pending Leave Request</a></h3>
    <h4>Approved Leave Request</h4>
    
</body>
</html>